.searchPage {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
    padding: 20px 15px;
    text-align: left;
}

.heading-filter {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: none;
    text-align: left;
}

hr.filter-hr {
    border-top: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-right: -15px;
}

h1.search-heading {
    text-align: left;
    font-size: 23px;
    font-weight: 600;
}

p.search-count {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

img.menu-image {
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
}

.card.menu-card {
    padding: 0;
    cursor: pointer;
    margin-bottom: 25px;
}

h3.menu-item-name {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1px;
}

.content-block {
    padding: 15px 15px;
}

p.location-text {
    font-size: 13px;
    text-align: left;
}

img.location-icon {
    width: 18px;
    margin-top: -4px;
    margin-left: -4px;
}

.price-text {
    color: #f56961;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0px;
}

.filter-heading {
    font-size: 15px;
    font-weight: 600;
    color: #212529;
    text-align: left;
    margin-bottom: 15px;
}

label {
    text-align: left;
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

.mealButton:empty {
    display: none;
}

.mealButton {
    margin-right: 5px;
    margin-bottom: 10px;
}
.filterBlockStart{
    margin-bottom: 65px;
}
.submit-btn{
    margin-bottom: 25px;
}
input.form-control{
    margin-bottom: 25px;
}
.filter-selected {
    cursor: pointer;
    font-size: 12px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, .5);
    border-radius: 3px;
    margin: 2px 5px 2px 0;
    overflow: hidden;
    transition: background-color .1s;
    max-width: 200px;
    padding: 4px 8px;
}
.filter-close {
    font-size: 10px;
    font-weight: 600;
    margin-top: 4px;
    float: left;
}
.filter-selected .filter-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;
    margin-left: 5px;
    max-width: 90%;
    font-size: 14px;
    font-weight: 600;
}
.filter-selected, .filter-selected .filter-close, .filter-selected ._3UZZGt, .filter-selected, .filter-selected .filter-close, .filter-selected .filter-text {
    display: inline-block;
}